<div class="col-md-4 p-2 mx-auto text-center">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Customer Catalog</h2>
            <a href="/customers/add" class="btn btn-success w-100">Add a new one!</a>
        </div>
    </div>
</div>
<div class="row">
    {{#each customers}}
        <div class="col-md-3 p-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{name}} <a href="/customers/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Email: {{email}}</p>
                    <p>Password Hash: {{password}}</p>
                    <p>Shipping Time: {{shipping_time}} days</p>
                    <a href="/customers/edit-pass/{{_id}}">
                    <button class="btn btn-warning w-100 btn-sm">New Password <i class="fa-solid fa-user-lock"></i></button>
                    </a>
                    <p></p>
                    <form action="/customers/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger w-100 btn-sm" type="submit">Delete <i class="fa-solid fa-delete-left"></i></button>
                    </form>
                </div>
            </div>
        </div>
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1>Hello</h1>
                    <p class="lead">There are not customers yet.</p>
                    <a href="/customers/add" class="btn btn-success w-100">Register One!</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>