<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Edit Customer</h3>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate action="/customers/edit-customer/{{customer._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="input-group mb-3">
                    <label for="validationCustomerName" class="form-label"></label>
                    <input type="text" name="name" class="form-control" id="validationCustomerName" placeholder="Name" value="{{customer.name}}" autofocus required>
                    <div class="invalid-feedback">Please provide a name.</div>
                </div>
                <div class="input-group mb-3">
                    <label for="validationCustomerEmail" class="form-label"></label>
                    <input type="email" name="email" class="form-control" id="validationCustomerEmail" placeholder="Email" value="{{customer.email}}" required>
                    <div class="invalid-feedback">Please provide an email.</div>
                </div>
                <div class="input-group mb-3">
                    <label for="validationCustomerPass" class="form-label"></label>
                    <input type="password" name="password" class="form-control" id="validationCustomerPass" placeholder="Password" value="{{password}}">
                    <div class="invalid-feedback">Please provide a new password.</div>
                </div>
                <div class="input-group mb-3">
                    <label for="validationCustomerCPass" class="form-label"></label>
                    <input type="password" name="confirm_password" class="form-control" id="validationCustomerCPass" placeholder="Confirm Password" value="{{confirm_password}}">
                    <div class="invalid-feedback">Please confirm the new password.</div>
                </div>
                <div class="input-group mb-3">
                    <label for="validationShipping" class="form-label"></label>
                    <input type="text" name="shipping_time" class="form-control" id="validationShipping" placeholder="Shipping Time (days)" value="{{customer.shipping_time}}" required>
                    <div class="invalid-feedback">Please provide a shipping time.</div>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-primary w-100" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>